<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Product List Page</title>
</head>
<body>
<div align="center">
<h1>Product List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Price</th>
        <th>To Cart</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}">123</td>
        <td th:text="${product.title}"> title</td>
        <td th:text="${product.price}">price</td>
        <td>
            <form action="#" th:action="@{/buyProduct}" th:object="${productForm}" method="post">
                <input type="hidden" th:value="${product.id}" name="id" />
                <input type="hidden" th:value="${product.title}" name="title" />
                <input type="hidden" th:value="${product.price}" name="price" />
                <button type="submit">Buy now</button>
            </form>
        </td>
    </tr>
</table>
<br/><br/>
<div><span th:text="${itemCount}"/> item<span th:text='${itemCount>1?"s":""}'/> in your Cart</div>
<br/>
<div><a href="/">Back to main menu</a></div>
</div>
</body>
</html>